{
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": "eslint-config-topcoder/nodejs",
    "rules": {
        "max-len": ["error", 160],
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": 0,
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "ignore"
        }]
    }
}
